<a href="https://colab.research.google.com/github/2303A510J4/Python-For-DataScience-_LAB-2025/blob/main/Sample%20question%20Lab%2002.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

Add arrays

In [4]:
arr = np.array ([10,20,30,40,50])
print('Original Array:',arr)

Original Array: [10 20 30 40 50]

Creating the DataFrame

In [5]:
data = {
'Name': ['Alice', 'Bob', 'Charlie', 'David'],
'Age': [25, 30, 35, 40],
'Score': [85.5, 92.0, 88.0, 76.5]
}

In [12]:
df = pd.DataFrame(data)
print("Original Frame:",df)

Original Frame:       Name  Age  Score
0    Alice   25   85.5
1      Bob   30   92.0
2  Charlie   35   88.0
3    David   40   76.5

Adding a new coloumn

In [13]:
df['Passed'] = df['Score'] >= 80
print("\nDataFrame with 'Passed' column:\n", df)

DataFrame with 'Passed' column:
       Name  Age  Score  Passed
0    Alice   25   85.5    True
1      Bob   30   92.0    True
2  Charlie   35   88.0    True
3    David   40   76.5   False

In [14]:
older_students = df[df['Age'] > 30]
print("\nStudents older than 30:\n", older_students)

Students older than 30:
       Name  Age  Score  Passed
2  Charlie   35   88.0    True
3    David   40   76.5   False

Finding the mean

In [15]:
average_score = df['Score'].mean()
print("\nAverage Score:", average_score)

Average Score: 85.5